h1{
    text-transform: uppercase;
    font: bolder;
    font-size: 40px;
    padding-left: 50px;
    color: rgb(5, 33, 12);
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(104, 99, 92);
}
div{
    display: flex;
}
input{
    margin-left: 20px;
    margin-top: 15px;
    height: 30px;
    width: 60vh;
}
main{
    justify-content: center;
    align-items: center;
}
body{
    background-color: rgb(104, 99, 92);
}
.calcbtn{
    width: 30vh;
    height: 50px;
    color: #fbb731;
}
